*.html
*.DS_Store
*_files/
*_cache/
.Rhistory
.Rproj.user
.RData
.Ruserdata

lecture/libs/*
lecture/*.pdf
!lecture/mathjax_config.html

homework/git_experiment/edit_and_commit_original.sh
homework/git_experiment/git_repo_size_history_ok.txt
homework/git_experiment/git_repo_size_history_v1.txt
homework/git_experiment/foo.*
